*{
    padding: 0;
    margin: 0;
    font-family: 'Mada';
}
html{
    font-size: 14px;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(../Assets/Media/background_home_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    cursor: pointer;
}
header div{
    display: grid;
    grid-template-columns: 60% 20% 20%;
}
.logo{
    width: 50%;
    grid-area: 1 / 1 / 1 / 1;
    align-self: center;
}
header a img{
    width: 80%;
}
.play{
    grid-area: 1 / 2 / 1 / 2;
    align-self: center;
}
.rules{
    grid-area: 1 / 3 / 1 / 3;
    align-self: center;
}
header{
    height: 5%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68%;
}
main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.3);
    padding: 5%;
}
main div p{
    width: 70%;
    text-align: center;
    padding: 3%;
    color: #0A0A0A;
}
main span{
    font-weight: bold;
}
footer{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    box-sizing: border-box;
    height: 27%;
    
}
footer div{
    display: flex;
    justify-content: space-around;
}
.copy{
    text-align: center;
}
.samir, .samir div, .adrien, .adrien div, .moustapha, .moustapha div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.github{
    font-size: 4rem;
    color: #181818;
}
.linkedin{
    font-size: 4rem;
    color: #13385A;
}

@media screen and (min-width: 760px) {
    html{
        font-size: 18px;
    }
    .container{
        background-image: url(../Assets/Media/background_home_tablet.png);
    }
    header{
        height: 18%;
    }
    main{
        height: 63%;
    }
    main div{
        width: 65%;
    }
    main div p{
        width: 100%;
    }
    .samir div, .adrien div, .moustapha div{
        flex-direction: row;
        width: 100%;
    }
    footer{
        height: 19%;
    }
    .github{
        font-size: 3rem;
        color: #181818;
    }
    .linkedin{
        font-size: 3rem;
        color: #13385A;
    }
}

@media screen and (min-width: 1024px) {
    html{
        font-size: 22px;
    }
    .logo{
        width: 20%;
    }
    header a img{
        width: 30%;
    }
    header{
        height: 15%;
    }
    .container{
        background-image: url(../Assets/Media/background_home_desktop.png);
    }
    .play, .rules{
        justify-self: center;
        width: 30%;
    }
    .play img, .rules img{
        width: 100%;
    }
    main{
        height: 63%;
    }
    main div{
        width: 40%;
        padding: 1%;
        border-radius: 2%;
    }
    main div p{
        width: 100%;
    }
    .samir, .adrien, .moustapha{
        width: 10%;
        background: rgba(255, 255, 255, 0.3);
    }
    .samir div, .adrien div, .moustapha div{
        flex-direction: row;
        width: 100%;
    }
    footer{
        height: 15%;
        background: none;
    }
    .github{
        font-size: 2rem;
        color: #181818;
    }
    .linkedin{
        font-size: 2rem;
        color: #13385A;
    }
    .copy{
        background: rgba(255, 255, 255, 0.3);
    }
}